<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container"></div>
<h1>Home Page</h1>
<h2>Avalible endpoints</h2>
<ul>
<li> <p> Home page </p> <a href="/home">/home</a> </li>
<li> <p> Pokemon Index </p> <a href="/pokemons">/pokemons</a> </li>
<li> <p> Search pokemon by id </p> <a href="/pokemon?id=1">/pokemon?id=</a> </li>
<li> <p> Save pokemons from poke api into csv </p> <a href="/save">/save</a> </li>
</ul>
</body>
</html>